@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: auto;
    background-color: black;
    color: white;
    font-size: 20rem;
    font-family: 'Montserrat', sans-serif;
}

.clock {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 10%;
}

.seperator {
    margin: -8px 48px;
}